<h1>Worker Login</h1>

<%= form_with url: sessions_path, local: true do |f| %>
  <div class="">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

    <%= f.submit "Log in" %>
<% end %>
